﻿@{
    ViewData["Title"] = "Home Page";
}
@model VisualPartModel

<script type='text/javascript'>
    var sendFolderAddress = '@ViewData["SendFolderAddress"]';
    var isFinished = false;
    window.globTableData = ''
</script>

<div class="form-group">
    <input type="text" class="form-control" value="Put folder path here" id="folderField" />
    <input type="submit" value="Scan" class="btn btn-default" id="scanButton" />
</div>

<div class="alert alert-success" role="alert" id="success"></div>
<div class="alert alert-info" role="alert" id="info"></div>
<div class="alert alert-warning" role="alert" id="warning"></div>
<div class="alert alert-danger" role="alert" id="danger"></div>
<div class="loader" id="loaderBar" style="margin: 0 auto; text-align: center"></div>
<div class="container" id="resultTable" style="float:left;">

</div>


@section scripts{
    <script src="~/js/MainCycle.js"></script>
    <script src="~/js/PingScript.js"></script>
}
