﻿@{
    ViewData["Title"] = "Results";
}

@model VisualPartModel

@if (Model.extensionsModel != null)
{
    @if (Model.ignoredFolders != null)
    {
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#ignoredList">Click to expand ignored</button>
        <div id="ignoredList" class="container collapse">
            <h3 class="text-left">Ignored folders</h3>
            <ul class="list-group">
                @foreach (var ign in Model.ignoredFolders)
                {
                    <li class="list-group-item">@ign.ToString()</li>
                }
            </ul>
        </div>
    }
    
        <table class="table table-responsive" id="myTable">
            <thead>
                <tr class="row">
                    <th class="col-sm-1 col-md-1 col-lg-1" id="col1"><a href="#">Name</a> </th>
                    <th class="col-sm-2 col-md-2 col-lg-2" id="col2"><a href="#">Count</a></th>
                    <th class="col-sm-2 col-md-2 col-lg-2" id="col3"><a href="#">Size, kb</a></th>
                    <th class="col-sm-7 col-md-7 col-lg-7">Examples</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var extData in Model.extensionsModel)
                {
                    <tr class="row">
                        <td class="col-sm-1 col-md-1 col-lg-1">@extData.Ext</td>
                        <td class="col-sm-2 col-md-2 col-lg-2">@extData.Count</td>
                        @{
                            double totalSize = (double)extData.TotalSize;
                            string output = Math.Round((totalSize / 1024), 2).ToString();
                        }
                        <td class="col-sm-2 col-md-2 col-lg-2">@output</td>

                        @{string examplesString = "";
                            foreach (var example in extData.Examples)
                            {
                                examplesString += "<a target=\"_blank\" href = \"" + Href(example) + "\">" + example + "</a>" + "<br/>";
                            }
                            ViewData["ExStr"] = examplesString;
                        }

                        <td class="col-sm-7 col-md-7 col-lg-7">@Html.Raw(ViewData["ExStr"])</td>
                    </tr>
                            }
            </tbody>
        </table>
    
                            }

<script type='text/javascript'>
    $('#col1').click(function () {
        sortTable(0);
    });
    $('#col2').click(function () {
        sortTable(1);
    });
    $('#col3').click(function () {
        sortTable(2);
    });

    function sortTable(n) {
        $.ajax({
            url: '/Home/SortBy',
            data: { sortId: n, data: window.globTableData, inverse: window.vInverse, ignored: window.ignored },
            cache: false,
            type: "POST",
            dataType: "html",
            success: function (dt, textStatus, XMLHttpRequest) {
                $('#resultTable').hide();
                $('#resultTable').empty();
                $('#resultTable').html(dt);
                $('#resultTable').show();

                if (window.vInverse == true) {
                    window.vInverse = false;
                }
                else {
                    window.vInverse = true;
                }
            },
            fail: function (flData) {
                hideAll();
                showWithAutoClose("Cannot sort table", '#danger');
            }
        });
    }
</script>